.body{
    background-color: rgb(66, 63, 63);
}
.caja {
    h1 {
    color: rgb(232, 233, 239);
    text-align: center;
    font-family: "Libre Franklin", sans-serif;
    font-optical-sizing: auto;
}
}
